body{
  background: radial-gradient(yellowgreen, green);
  background-attachment:fixed;
  background-repeat: no-repeat;
  text-align:center;
  font-family: 'Handlee', cursive;
}
h1{
  font-size:55px;
}
#container{
  width:33%;
  margin:auto;
  min-width:100px;
}
@media only screen and (max-width: 605px){
  #container{
    width:90%;
  }
}
#setTime{
  float:right;
}
#setBreak{
  float:left;
  margin-bottom:5px;
}
.adjust h3{
  margin-top:-10px;
  font-size:26px;
}
.adjust h3:first-child{
  float:right;
}
.adjust h3:nth-child(2){
  float:left;
}
#timeUp, #timeDown, #breakUp, #breakDown:hover{
  cursor:pointer;
}
#timeUp:active, #timeDown:active, #breakUp:active, #breakDown:active{
  text-shadow:-1px 1px #111111;
}
#timer{
  clear:both;
}
#timer img{
  max-width:350px;
  height:auto;
  cursor:pointer;
}
#clock{
  margin:auto;
  margin-top:-315px;
  margin-right:20px;
}
#clockTime{
  font-size:50px;
  margin-top: -20px;
}
#showBreak{
  font-size:32px;
}